<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap5/bootstrap.min.css">
    <link rel="icon" href="static/image/logo.jpg" >
    <title>青岛平度行知实验学校英语听力下载</title>
    
</head>
<body>
    <div style="width: 80%;margin: auto;">
        <h1 class="text-center" style="margin-top: 40px;">青岛平度行知实验学校</h1>
        <h1 class="text-center" style="margin-top: 40px;">英语听力下载 v2.0</h1>
        <table class="table table-bordered" style="width: 70%;margin: auto">
            <caption class="text-center">PRODUCED BY Chai  <a href="/admin">管理页面</a></caption>
            <thead>
              <tr>
                <th>年级</th>
                <th>名称</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>七年级</td>
                <td>{{msg1}}</td>
                <td><a href="download/7"><button type="button" class="btn btn-primary btn-sm" >下载</button></a></td>
              </tr>
              <tr>
                <td>八年级</td>
                <td>{{msg2}}</td>
                <td><a href="download/8"><button type="button" class="btn btn-primary btn-sm" >下载</button></a></td>
              </tr>
              <tr>
                <td>九年级</td>
                <td>{{msg3}}</td>
                <td><a href="download/9"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
                </td>
              </tr>
            </tbody>
          </table>
          
    </div>
</body>
</html>